<div class="list-item">
	<div class="title">
		<h1><a href="{{ url }}">{{ title }}</a></h1>
	</div>
	<aside>
		<a href="https://news.ycombinator.com/item?id={{ id }}">
			<div class="comment-count">{{ descendants }}</div>
		</a>
		<div class="score">{{ score }}</div>
	</aside>
</div>
