<div class="list-item">
	<a href="{{ url }}">
		<div class="story">
			<h3>{{ title }}</h3>
			<div class="site">{{ host }}</div>
		</div>
	</a>
	<a href="https://news.ycombinator.com/item?id={{ id }}">
		<aside>
			<div class="comment-count">{{ descendants }}</div>
			<div class="score">{{ score }}</div>
		</aside>
	</a>
</div>
