<div class="list-item">
	<a href="{{ url }}">
		<h1 class="title">{{ title }}</h1>
	</a>
	<aside>
		<a href="https://news.ycombinator.com/item?id={{ id }}">
			<div class="comment-count">{{ descendants }}</div>
		</a>
		<div class="score">{{ score }}</div>
	</aside>
</div>
