<div class="list-item">
	<a target="_blank" href="{{ url }}">
		<div class="story">
			<h3>{{ title }}</h3>
			<div class="host">{{ host }}</div>
		</div>
	</a>
	<a href="/comments/{{ id }}">
		<aside>
			<div class="comment-count">{{ descendants }}</div>
			<div class="score">{{ score }}</div>
		</aside>
	</a>
</div>
